* { padding: 0; margin: 0; }


/* font-family: 'Nosifer', cursive;
font-family: 'Creepster', cursive;
font-family: 'Faster One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Titillium Web', sans-serif; */

h1, 
h2 {
	font-family: 'Press Start 2P', sans-serif;
}

p {
	font-family: 'Titillium Web', sans-serif;
}


button {
	cursor: pointer;
}

.choice-result {
    display: none;
}
.ship-grid{
	margin: 0 auto;
	display: grid;
	width: 75vw;
    height: 100vh;
	
	grid-template-areas: 
		"lewis lewis"
		"lewis lewis"
		"choose choose"
		"rocket rocket"		
}

.ship-choices{
	margin: 0 auto;
	grid-area: rocket;
	width: fit-content;
}

.ship-link{
	margin: auto;
	display: inline;
	
}
.ship-image{
	width: 49%;
}

.choose-ship{
	grid-area: choose;
	font-size: 2em;
	margin: auto;
}

.direction-screen {
	background-image: url("img/background.jpg");
	background-size: cover;
	width: 100vw;
	height: 100vh;
	padding: 0 40px;
	box-sizing: border-box;
	margin: 0 auto;
	display: grid;
	align-items: center;
	
	
	grid-template-areas: 
		". uparrow ."
		"leftarrow ship rightarrow"
		"text text text"
}

.direction-text {
	font-size: 2em;
	text-align: center;
	grid-area: text	
}

.chosen-ship {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: ship;
	width: 100%;	
}
.right-arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: rightarrow;
	
	
}

.up-arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: uparrow;
	
}

.left-arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: leftarrow;
	

}

#choose-ship-root {
	background-image: url("img/background.jpg");
	background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
	
}

#backstory-root {	
    background-image: url("img/backstory-background.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

.lewis-logo {	
	grid-area: lewis;
	margin: auto;
	width: 75%
}

.begin-button {
	display: block;
	text-align: center;
	position: relative;
	z-index: 100;
}

.crew {
	width: 200px;
	background-color: red;
}

.two-choices h2,
.choice-result h2 {
	text-align: center;
	color: #e4bc0a;
	padding: 0 20px 20px 20px;
	font-size: 1.3em;
}

.two-choices p {
	margin: 10px;
	color: rgb(202, 189, 129);
	font-size: 1.1em;

}

.choicea {
	background: url("img/choice-a-button.png");
}
.choiceb {
	background: url("img/choice-b-button.png");
}
.get-fuel-button {
	background: url("img/get-fuel-button.png");
}
.dark-influence-button  {
	background: url("img/mirror-button.png");
}
.game-continue-button {
	background: url("img/continue-button.png");
}

.choicea,
.choiceb,
.get-fuel-button,
.dark-influence-button,
.game-continue-button {
	background-size: contain;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 40px rgb(156, 150, 112);
	border: none;
	margin: 0 auto;
}

.choicea,
.choiceb,
.get-fuel-button {
	width: 300px;
	height: 68px;
}
.game-continue-button {
	width: 300px;
	height: 55px;
}

.dark-influence-button {
	height: 100px;
	width: 220px;
}


.choice {
	border-top: 1px solid rgb(156, 150, 112);
	padding: 20px;
	text-align: center;
	width: 50%;
}

.choices {
	text-align: center;
	display: flex;
	margin: 0 30px 50px;
}

.event-image,
.mirror {
	width: 100vw;
}

.event-text {
	padding: 60px;
}

.event-text h1 {
	text-align: center;
	color: #36be36;
	padding: 0 0 15px 0;
	font-size: 2em;
}

.event-text p {
	color: rgb(202, 189, 129);
	font-size: 1.1em;
}

.choice-result {
	color: rgb(202, 189, 129);
	font-size: 1.1em;
	padding: 40px;
	margin: 0 20px;
	border-top: 1px solid rgb(202, 189, 129);
}

.choice-result a {
	margin: 30px auto;
}

#dark-influence-root h1 {
	font-family: 'Titillium Web', sans-serif;
	color: #36be36;
	font-size: 3em;
	text-align: center;
}
#dark-influence-root h2 {
	font-family: 'Titillium Web', sans-serif;
	color: #f1f7f1;
	font-size: 2em;
	text-align: center;
}

.game-continue-button,
.game-results,
.start-over-button,
.dark-influence-button,
.get-fuel-button,
.ending-button,
.pirate,
.evil,
.darth {
	display: none;
}
/* 
** CREDIT FOR STAR WARS SCROLL GOES TO 
** Craig Buckler
** http://www.sitepoint.com/css3-starwars-scrolling-text/
body, html 
*/
body, html
{
  width: 100%;
  height: 100%;
  font-family: sans-serif;
	font-weight: 700;
	color: #daa520;
	background-color: #000;
}
#titles
{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	margin-left: -9em;
	left: 50%;
	font-size: 600%;
	text-align: justify;
	overflow: hidden;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: perspective(50vh) rotateX(25deg);
	-moz-transform: perspective(50vh) rotateX(25deg);
	-ms-transform: perspective(50vh) rotateX(25deg);
	-o-transform: perspective(50vh) rotateX(25deg);
	transform: perspective(50vh) rotateX(25deg);
	text-shadow: 6px 6px black;
}

#titles:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	/* background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%); */
	background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#titles p
{
	text-align: justify;
	margin: 0.8em 0;
}

#titles p.center
{
	text-align: center;
}

#titles a
{
	color: #ff6;
	text-decoration: underline;
}

#titlecontent
{
	position: absolute;
	top: 100%;
	-webkit-animation: scroll 180s linear 0s infinite;
	-moz-animation: scroll 180s linear 0s infinite;
	-ms-animation: scroll 180s linear 0s infinite;
	-o-animation: scroll 180s linear 0s infinite;
	animation: scroll 180s linear 0s infinite;
}

/* animation */
@-webkit-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-moz-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-ms-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-o-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}
